.music-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
}

/* Title */
.music-title {
    font-size: 2.6vw;
    font-weight: bold;
    margin-bottom: 60px;
    white-space: nowrap;
    border-top: 1px solid #ddd;
    padding-top: 60px;
}

/* Grid Layout */
.music-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Artist Card */
.artist-card {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

/* Artist Name */
.artist-name {
    font-size: 1.6vw;
    font-weight: 600;
    margin-bottom: 4px;
    cursor: pointer;
}

.artist-genre {
    padding-bottom: 12px;
    font-size: 1.1vw;
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
}

/* Album Card */
.album-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
}

.album-card:hover {
    background-color: #567f73;
}

.album-card:last-child {
    border-bottom: none;
}

/* Album Name */
.album-name {
    font-weight: 500;
    padding: 0;
    margin: 2px 0;
    font-size: 1.1vw;
}

/* Album Ranking */
.album-ranking {
    margin-left: 8px;
    font-size: 1.1vw;
}

/* Filter Buttons */
.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.filter-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: gray;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.1vw;
}

.filter-button.active {
    background-color: #96d6c3;
    /* Active button highlight */
    color: black;
    font-weight: bold;
}

.radio-btn {
    /* Remove default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* Size using vw for responsiveness */
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    border: 1px solid #96d6c3;
    /* Positioning */
    position: relative;
    cursor: pointer;
    outline: none;
}

/* Inner dot when checked */
.radio-btn:checked::after {
    content: '';
    position: absolute;
    width: 0.4vw;
    height: 0.4vw;
    background-color: #96d6c3;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .music-title {
        font-size: 5vw;
    }

    .artist-name {
        font-size: 4vw;
    }

    .artist-genre {
        font-size: 2.5vw;
    }

    .album-card {
        font-size: 2.5vw;
        padding: initial;
    }

    .album-name,
    .no-albums {
        font-size: 2.8vw;
    }

    .album-ranking {
        font-size: 2.5vw;
    }

    .filter-button {
        font-size: 2.5vw;
    }

    .radio-btn {
        width: 2.2vw;
        height: 2.2vw;
    }

    .radio-btn:checked::after {
        width: 1.2vw;
        height: 1.2vw;
    }
}