.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

main {
  width: 70vw;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  main {
    width: 90vw;
  }
}